DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=leaderboard_user
DATABASE_PASSWORD=your-super-secret-password
DATABASE_NAME=leaderboard_db

SECRET_KEY=your-long-and-unpredictable-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=3600
